@import "./../../assets/scss/base.scss";

.setting-container {
    @extend .container;
    padding: pxToRem(40px) pxToRem(20px) 0;
    font-size: pxToRem(16px);

    :global(.MuiFormControl-root) {
        width: 100%;
    }
}
